* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__wrapper {
    height: 250px;
    width: 700px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

#slider {
    display: flex;
    height: 100%;
}

.slide {
    position: relative;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide img {
    position: absolute;
    height: 100%;
    width: 350px;
    object-fit: cover;
    object-position: bottom;
}

.slide h1,
.slide p {
    z-index: 1;
    color: white;
}

#arrow-left img,
#arrow-right img {
    height: 25px;
}

#arrow-left {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#arrow-right {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}